Screen {
	align: center middle;
}

.label {
	height: 3;
	content-align: center middle;
	width: auto;
}

#custom-design {
	background: darkslategrey;
}

#custom-design > .switch--slider {
	color: dodgerblue;
	background: darkslateblue;
}
